{{#author}}
    <section class="author post-header" >
    <img src="{{image}}" alt="{{name}} icon" class="icon rounded" />
        {{#if bio}}
            <p>{{bio}}</p>
        {{/if}}
        <p>Read <a href="{{url}}">more posts</a> by {{name}}.</p>
    </section>

{{/author}}